<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="memorial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <memorial.Properties.Settings>
			<setting name="CasasAzimute" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="CasasCoordenadas" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="CasasDistancia" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="cidade" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Codificacao" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Delimitador" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Mazimute" serializeAs="String">
				<value>com azimute</value>
			</setting>
			<setting name="Mconfronto" serializeAs="String">
				<value>confrontando com terras de</value>
			</setting>
			<setting name="MCoord" serializeAs="String">
				<value>definido pelas coordenadas</value>
			</setting>
			<setting name="Mdist" serializeAs="String">
				<value>e distância de</value>
			</setting>
			<setting name="Mdivisa" serializeAs="String">
				<value>segue por</value>
			</setting>
			<setting name="Meste" serializeAs="String">
				<value>E:</value>
			</setting>
			<setting name="Mfim" serializeAs="String">
				<value>encerrando este perímetro.</value>
			</setting>
			<setting name="Minicio" serializeAs="String">
				<value>Inicia-se a descrição deste perímetro no vértice</value>
			</setting>
			<setting name="Mligacao" serializeAs="String">
				<value>até o vértice</value>
			</setting>
			<setting name="Mnorte" serializeAs="String">
				<value>N:</value>
			</setting>
			<setting name="Mrepeticao" serializeAs="String">
				<value>nao</value>
			</setting>
			<setting name="Mtitulo" serializeAs="String">
				<value>Memorial descritivo</value>
			</setting>
			<setting name="Munidade" serializeAs="String">
				<value>m</value>
			</setting>
			<setting name="profissional" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="registro" serializeAs="String">
				<value>
				</value>
			</setting>
		</memorial.Properties.Settings>
    </userSettings>
</configuration>